Source: bilibop
Section: admin
Priority: optional
Maintainer: bilibop project <quidame@poivron.org>
Uploaders: Alexandre Martin <alemar@Safe-mail.net>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://poivron.org/~quidame/bilibop_project
Vcs-Git: http://poivron.org/~quidame/bilibop_project/bilibop.git

Package: bilibop
Section: misc
Priority: extra
Architecture: linux-any
Depends: bilibop-lockfs (= ${binary:Version}), bilibop-rules (= ${binary:Version}), ${misc:Depends}
Description: run Debian from external media - metapackage
 ${Description}
 .
 The installation of this metapackage will install all other BILIBOP packages
 as dependencies. You should not install it, unless your system is writable
 and runs from an external device.
 .
 ${Requirement}

Package: bilibop-common
Architecture: linux-any
Depends: initscripts (>= 2.88dsf-13.3), udev, ${misc:Depends}
Suggests: aufs-tools, bilibop-lockfs (= ${binary:Version}), bilibop-rules (= ${binary:Version}), cryptsetup, dmsetup, lvm2
Description: shell functions for bilibop scripts
 ${Description}
 .
 This package provides shell functions usable by other bilibp scripts on the
 running system or into the initramfs environment. These functions use /dev,
 /proc and /sys databases to output the drive name or the partition hosting
 the running system, and are fully usable by any unprivileged user or
 application. Dm-crypt, LVM, loop devices and aufs root filesystems (and any
 combination of them) are supported. A 'drivemap' command is also provided,
 to show block devices in a tree of dependencies.
 .
 ${Requirement}

Package: bilibop-lockfs
Architecture: linux-any
Depends: bilibop-common (= ${binary:Version}), initramfs-tools, ${misc:Depends}
Recommends: cryptsetup
Suggests: aufs-tools, bilibop-rules (= ${binary:Version}), gnome-icon-theme, libnotify-bin
Description: lock filesystems and write changes into RAM
 ${Description}
 .
 If the lockfs feature is enabled (in a configuration file, in the boot
 commandline or by a heuristic), nothing will be written on the filesystems
 listed in /etc/fstab, except for those that have been whitelisted, or for
 the encrypted swap devices.
 .
 The root filesystem is locked (set readonly, using aufs) by an initramfs
 script which also modifies the temporary fstab to prepare other filesystems
 to be locked later by a mount helper script.
 .
 bilibop-lockfs provides the following features:
  * whitelist based policy: filesystems on which you want to allow permanent
    changes must be explicitly listed in a configuration file.
  * not only filesystems are set read-only, but also block devices: this
    forbids changes of the partition table, boot sectors and LUKS headers.
  * policy of management of swap devices.
  * desktop notifications at startup about filesystems status, to inform the
    user that temporary or permanent changes are allowed or not, and where.
 .
 This package can be used as an alternative to fsprotect, especially for
 writable operating systems embedded on a USB stick; but it may also be
 installed on public or personal computers.
 .
 ${Requirement}

Package: bilibop-rules
Architecture: linux-any
Depends: bilibop-common (= ${binary:Version}), initramfs-tools, ${misc:Depends}
Suggests: bilibop-lockfs (= ${binary:Version}), cryptsetup, grub-coreboot | grub-efi-amd64 | grub-efi-ia32 | grub-ieee1275 | grub-pc , pmount, udisks
Description: udev rules for OS running from external media
 ${Description}
 .
 This package provides a udev rules file to manage the external drive hosting
 the running system. Its main goal is to forbid low-level write access on this
 drive and its partitions by any unprivileged user or application, but some
 other convenient and optional rules have been added for desktop-level
 management of the system disk and partitions (need udisks). The 'lsbilibop'
 command allows the admin to update udev properties of the devices after the
 configuration file has been modified.
 .
 bilibop-rules also provides helper scripts to:
  * build custom udev rules
  * make some persistent and cumulative rules files unpersistent
  * use either a fake or an always-up-to-date grub device map
 .
 This package is not designed to be used on internal disks. It works only
 for OS installed on removable and writable media, including LiveUSB systems.
 .
 ${Requirement}

